# macOS system file
.DS_Store

# Nextflow intermediate and logs
work/
.nextflow/
.nextflow.log*

# Python cache
__pycache__/

# Logs
*.log

# VSCode settings
.vscode/

# Processed data
data/processed/
