
process {
    withName: preprocess_reads {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }
    withName: call_variants {
        cpus = 4
        memory = '8 GB'
        time = '2h'
    }
    withName: extract_features {
        cpus = 2
        memory = '4 GB'
        time = '30m'
    }
}

params {
    outdir = 'results'
}

executor {
    name = 'local'
}
